<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metaetiquetas obligatorias para Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Enlaces de estilo de Bootstrap -->
    <link href="ruta/a/tu/estilo/bootstrap.min.css" rel="stylesheet">

    <!-- Tu propio archivo de estilo CSS -->
    <link href="ruta/a/tu/estilo/estilos.css" rel="stylesheet">

    <!-- Título de la página -->
    <title>Mi Página con Bootstrap</title>
</head>
<body>

    <!-- Contenido de la página -->
    <!-- Contenido de la página -->
    <!-- Contenido de la página -->
    <div class="container text-start">
        <div class="row">
          <div class="col-4"><img src="https://us.123rf.com/450wm/puhhha/puhhha1802/puhhha180200822/96381594-teclado-y-manos-ci%C3%A9rrese-encima-de-las-manos-que-trabajan-en-la-computadora-hermosos-dedos.jpg?ver=6" alt="Imagen Redonda" class="img-fluid rounded-circle"></div>
          <div class="col-8">
            <h1 class="fs-15">The second heading<span class="text-secondary"> is pretty cool too </span></h1>
            <br>
            <p class="parrafo-services">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        </div>
      </div>
    <!-- Scripts de Bootstrap y JavaScript -->
    <script src="ruta/a/tu/js/bootstrap.bundle.min.js"></script>
    <script src="ruta/a/tu/js/tu_script.js"></script>

</body>
</html>
